* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ubuntu&display=swap");
/* common style and utilits  */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  border-radius: 5px;
  margin-top: 21px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/* Animation */

@keyframes slideDown {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeSlide {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

/*   ---------------------
     header style
----------------------  */
header {
  height: 10vh;
}
.logo {
  font-size: xx-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #562eff;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 150px;
}
.nav-container :hover {
  color: rgba(253, 25, 71, 0.836);
  transform-origin: 0vmin;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 20px;
  font-weight: 600;
}
.navigation li a {
  text-decoration: none;
}

/* --------------------
   Top Players style
-------------------- */
.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 5 px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  margin-top: 25px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/* ---------------------
   top blogs styles 
 --------------------*/
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
  margin-top: 25px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
  line-height: 34px;
}
.blog-author {
  color: #9f9f9f;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}

/*   ---------------------------
      courses style
-------------------------  */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  margin-top: 25px;
}
.course {
  text-align: center;
  box-shadow: 0px 5.342289924621582px 13.35572338104248px 0px #0000000d;
  width: 255.42px;
  height: 280px;
  line-height: 35px;
  border-radius: 5px;
}
.courses :hover {
  background-color: rgba(222, 248, 248, 0.5);
  border-radius: 5px;
}
.course .course-banner img {
  width: 224px;
  height: 104px;
  top: 900px;
}
.course-author {
  color: #ed6b4f;
}
.course-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 14px;
  justify-items: center;
}

.course-duration {
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: #ffe4e8;
  width: 90px;
  height: 29px;
  color: #ff4a60;
  font-weight: 600;
  font-size: 14.6913px;
  border-radius: 14.6913px;
}

.fa-clock {
  width: 20.03px;
  margin-right: 5.42px;
}

.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
  opacity: 0.25;
}

/*------------------
   footer
 -------------------  */
footer {
  background-color: rgba(0, 0, 0, 0.541);
  color: white;
  text-align: center;
  padding: 10px 0px;
  margin-top: 35px;
  line-height: 2em;
}
#footer-span {
  color: #ff4a60;
}

/*--------------------
    Media Queries
 -------------------- */
@media (max-width: 688px) {
  .navigation-items li {
    padding: 0 10px;
  }
  #top_section .container {
    padding: 20px;
  }
  .player-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  #latest_course .container {
    padding: 20px;
  }
}
